In [5]:
import pandas as pd
import sqlite3
import os

In [1]:
qtd_msg = 1

lista = list(range(qtd_msg))
print(lista)

[0]

In [2]:
qtd_msg = 1

lista = range(qtd_msg)
print(lista)

range(0, 1)

In [3]:
qtd_msg = 4
lista = list(range(qtd_msg - 1, -1, -1))
for p, i in enumerate(lista):
    print("posição", i)
    print("indice", p+1)

posição 3
indice 1
posição 2
indice 2
posição 1
indice 3
posição 0
indice 4

In [6]:
base_clientes = pd.read_csv('../data/base_clientes.csv')

In [7]:
base_clientes.head()

,cpf,nome,segmento,qtd_cont,vlr_total_div,max_dias_atraso
0,42006925890,Bryan Campos,Van Gogh,10,5000,60
1,34366343878,Juan Moura,Private,5,2000,30
2,72388905850,Ana Sophia da Cruz,Van Gogh,1,2293,28
3,85044167398,Marina Moraes,Especial,7,2685,42
4,86406862031,Marcos Vinicius Cardoso,Van Gogh,13,9173,50

In [9]:
# Especificar o caminho para o diretório onde o banco de dados está localizado
path = "../data/"

# Especificar o valor do CPF como uma string entre aspas simples
cpf_value = 42006925890
query = f"SELECT * FROM customer_database_table WHERE cpf = '{cpf_value}'"

# Usar a declaração `with` para gerenciar a conexão ao banco de dados SQLite
with sqlite3.connect(os.path.join(path, 'customer_database.sqlite')) as conn:
    # Executar a consulta SQL e ler o resultado em um DataFrame do pandas
    base = pd.read_sql_query(query, conn)

In [10]:
base.head()

,cpf,nome,segmento,qtd_cont,vlr_total_div,max_dias_atraso
0,42006925890,Bryan Campos,Van Gogh,10,5000,60

In [15]:
base["nome"].values

array(['Bryan Campos'], dtype=object)